@use "../abstracts/" as *;

.contact {
    text-align: center;

    &__title {
        font-family: $font-heading;
        font-size: 3rem;
    }

    &__subtitle {
        max-width: 600px;
        margin: 1rem auto 2rem;
        color: $txt-color;
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 2rem;
    }
}
